#capsule_content.container-fluid.one-page.capsule-content__page
    +page_header(I18N("capsuleContent.header"))
    .container
        .row.justify-content-center
            .col-md-10.col-sm-12
                h3=I18N("capsuleContent.description")
    .row.justify-content-center
        .col-1.d-none.d-lg-block
            img(src='img/l-bg.png', alt='')
        .col-12.col-lg-10
            .container-md-fluid.container.tabs-container
                .row.justify-content-center.d-none.d-md-flex.tab-controllers
                    - var index = 0
                    each item, tab in tabs
                        .col-2.d-none.d-lg-block
                            .ui.raised.link.fluid.card.card-tab-switcher__wrapper(
                            data-index=index++
                            )
                                .image.ui.center.aligned.card-tab-switcher__image-wrapper
                                    img.ui.centered.medium.image(src='img/' + item.image)
                                .content.center.aligned.card-tab-switcher__title-wrapper
                                    p.card-tab-switcher__title=I18N(item.title)
                .row.justify-content-center
                    .col-lg-10.col-md-12.tab-page__wrapper
                        .owl-carousel.owl-theme.tab-page__carousel
                            each item, tab in tabs
                                .item.ui.blue.segment.tab-page__container
                                    .row.justify-content-center.tab-page__content
                                        .col-lg-4.tab-page__image-wrapper
                                            .ui.image
                                                img.ui.centered.fluid.image(src='img/' + item.image)
                                        .col-lg-8.tab-page__text=I18N(item.text)
        .col-1.d-none.d-lg-block.right.floated
            img(src='img/r-bg.png', style='float: right', alt='')