.ui.modal
    .ui.embed

.ui.modal.product-description__modal
    i.close.icon
                        //todo: i18n
    .header О товаре
    .image.content
        .ui.medium.image
            img.product-description__image
        .description.product-description__wrapper
            .ui.header.product-description__title
            .product-description__description
            .ui.divider
            .product-description__price
    .actions
        .ui.deny.button Закрыть
        .ui.primary.right.labeled.ok.icon.button В корзину
            i.shop.icon