#introduction.container-fluid.one-page.introduction__page.gradient-page
    #header.container-fluid.menu-header__wrapper
        .container
            .navbar.navbar-toggleable-md.navbar-right.navbar-light.menu-header__navbar
                button.navbar-toggler.navbar-toggler-right.menu-header__toggler(
                type="button")
                    i.sidebar.icon
                a.navbar-brand.menu-header__logo-wrapper(href="#")
                    img.menu-header__logo(src='img/logo.svg')
                .collapse.navbar-collapse.menu-header__menu-wrapper
                    ul.navbar-nav.menu-header__menu
                        each item in menuItems
                            li.nav-item.menu-header__item
                                a.nav-link.menu-header__link(href="#" + item.href)
                                    i(class=item.icon + ' icon')
                                    =get(i18n, item.text)
    .container
        .row.justify-content-center
            .col-xl-4.col-lg-5.col-md-10.col-sm-12
                h1
                    | Капсула Времени, именной подарок
            .col-xl-4.col-lg-5.col-md-10.d-none.d-md-block.offset-lg-1
                h3
                    | Более 4 лет производим оригинальные капсулы времени для корпоративных мероприятий и частных торжеств.
        .row
            .col-12
                img.ui.fluid.image(src='img/main_new.png')
        .row.justify-content-center
            .col-lg-4.col-md-10.col-sm-12
                .ui.primary.button
                    i.shop.icon
                    | В КОРЗИНУ
            .col-lg-4.col-md-10.d-none.d-md-block.offset-lg-1
                p
                    | Мы делаем Капсулы Времени любых размеров и форм.