@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/grid";


// copy-paste from make-container() for container-fluid
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .container#{$infix}-fluid {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      $gutter: map-get($grid-gutter-widths, $breakpoint);
      padding-right: ($gutter / 2);
      padding-left:  ($gutter / 2);
      width: 100%;
    }
  }
}


//@each $breakpoint in map-keys($grid-breakpoints) {
//  @include media-breakpoint-up($breakpoint) {
//    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
//    .container#{$infix} {
//      @extend .container#{$infix}-fluid;
//      width: map_get($container-max-widths, $breakpoint);
//      max-width: 100%;
//    }
//  }
//}