@import "imports"
@import "variables"
@import "scss_mixins"
@import "mixins"

@import "blocks/introduction"
@import "blocks/about"
@import "blocks/events"
@import "blocks/advantages"
@import "blocks/content"
@import "blocks/market"
@import "blocks/shopping-cart"
@import "blocks/clients"
@import "blocks/parallax"
@import "blocks/gallery"
@import "blocks/footer"



@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600&subset=cyrillic')

h1, h2, h3, h4, div, p, a, span, input, button, textarea
  font:
    weight: 300
    family: "Open Sans", sans-serif !important

h3
  font-size: 1.5rem
  padding: 8px 0 18px
  margin: 0

#kapsula
  .page-header
    position: relative
    z-index: 101
    margin: 0
    text-align: center
    +header(1.3)
    padding:
      left: 1rem
      right: 1rem
  .one-page
    position: relative
    background-color: #fff
    +font(1)
    +media-breakpoint-up(md)
      padding: 3rem 0
    +media-breakpoint-down(md)
      padding: 1.5rem 0

  .gradient-page
    background: #f4f4f4
    background: linear-gradient(to bottom, #f4f4f4 0%, #ebebeb 71%, #f9f9f9 100%)
    border-bottom: 1px solid rgba(0, 0, 0, .1)
    border-top: 1px solid rgba(0, 0, 0, .1)

  [data-tooltip]
    touch-action: none
    &::before, &::after
      transition-delay: .1s