$primary-color: #2185d0
$font-size: 1.2rem
$line-height: 1.5rem

h1, h2, h3, h4, div, p
  font:
    weight: 300
    family: "Open Sans", sans-serif

h3
  font-size: 1.5rem
  padding: 8px 0 18px
  margin: 0

#menu
  text-align: right

#menu .list>a.item > .content,
#header .logo
  line-height: 50px
  text-align: center
  font-size: 20px

=gradient-page
  background: #f4f4f4
  background: linear-gradient(to bottom, #f4f4f4 0%,#ebebeb 71%,#f9f9f9 100%)
  border-bottom: 1px solid rgba(0,0,0,.1)
  border-top: 1px solid rgba(0,0,0,.1)

=price-after
  content: '\00a0руб.'

=font($multiply)
  font-size: $font-size * $multiply
  line-height: $line-height * $multiply

=header($multiply)
  +font(1.5 * $multiply)
  padding-bottom: 1.5rem * $multiply


#kapsula
  h2.page-header
    +header(1.7)
    margin: 0
    text-align: center
    padding:
      left: 3rem
      right: 3rem

  .one-page
    +font(1)
    padding: 5rem 0
  .menu-header
    &__item, &__item i
      transition: .3s ease
    &__wrapper
      margin-bottom: 2rem

  .gradient-page
    background: #f4f4f4
    background: linear-gradient(to bottom, #f4f4f4 0%,#ebebeb 71%,#f9f9f9 100%)
    border-bottom: 1px solid rgba(0,0,0,.1)
    border-top: 1px solid rgba(0,0,0,.1)

  .introduction__page
    padding-top: 0
  .about-capsule
    &__text
      +font(1)

  .capsule-content__page
  .tab-page
    &__container
      margin: 10px
    &__content
      //display: none
      //position: absolute
      left: 15px
      right: 15px
    &__image-wrapper
      text-align: center
    &__text
      +font(1.2)

  .titanium-capsule-parallax
    min-height: 400px
    height: 50vh
    background: transparent

  .card-tab-switcher
    &__wrapper
      margin-bottom: 1.4rem
    &__image-wrapper
      padding: 20px 0
      img
        max-height: 80px
        width: auto
    &__title-wrapper
      height: 1.7rem * 2
      box-sizing: content-box
    &__title
      +font(1)
  .shopping-cart
    &__page
    &__number_cell, &__actions_cell, &__header .shopping-cart__price_cell
      text-align: center
    &__price_cell
      text-align: right
    &__product-image
      height: 4rem
      width: 4rem
    &__actions_cell
      border-left: none
    &__action
      padding: .3rem
      +font(1)
    &__price
      +font(1)
      &:after
        +price-after
    &__result-price-cell
      text-align: right
      +font(1)
      font-weight: bold
      &:after
        +price-after
    &__result-title-cell
      font-weight: 600
      +font(1)
    &__empty-handler
      +font(1.3)
      font-weight: 600
      text-align: center
      height: 5rem

  .product
    &__wrapper
      //text-align: center
      width: 250px
      //border: 1px solid rgba(#000, .1)
      //padding: 10px
      margin: 1px
    &__price-button-group
      display: flex
      width: 100%
    &__price
      //display: block
      flex-grow: 1
      cursor: auto
      //font:
        size: 16px
        weight: 600
    &__title
      //font-size: 14px
      //display: block
    &__buy-button
      flex-grow: 1
      &_goto
        display: none
    &__buy-button.active
      background-color: #db2828
      .product__buy-button_add
        display: none
      .product__buy-button_goto
        display: block
        a
          color: #fff

  .advantages__
    &item
      margin-bottom: 1.5rem
    &text
      +font(1.2)

  .events
    &__image
      height: 60vh
      width: auto
    &__title, &__description-block
      transition: .3s ease
      position: absolute
      width: 100%
      background-color: rgba(#FFF, .8)
      color: rgba(#000, .8)
    &__title
      text-align: center
      font-size: 2.5rem
      line-height: 3.5rem
      top: 0
    &__description-block
      opacity: 0
      padding: 1rem 3rem
      font-size: 2rem
      line-height: 2.5rem
      bottom: 0
    &__item
      overflow: hidden
      &:hover .events__description-block
        opacity: 1
    &__description-text
      display: block
      max-height: 2.5rem * 5
      overflow: hidden
      text-overflow: ellipsis
    &__link
      float: right
  .gallery__
    &image
      height: 30vh
      width: auto

  .footer__
    &logo
      max-height: 4rem
      filter: grayscale(1)
    &col
      margin: 0 3%
    &header
      +font(1.2)


.header
  &--clone
    background-color: rgba(240,240,240,.95)
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 1000
    transform: translateY(-100%)
    transition: all 300ms ease-in-out
  &--stick
    transform: translateY(0%)

.bottom-space
  height: 1000px

.menu-header__logo img
  height: 44px
  width: auto
  margin: 0
  filter: grayscale(100%)
  transition: all 0.5s ease
  &:hover
    filter: grayscale(0)

.owl-carousel .owl-stage-outer
  padding: 1px