$primary-color: #2185d0

#first, #third
  background: #f4f4f4
  background: linear-gradient(to bottom, #f4f4f4 0%,#ebebeb 71%,#f9f9f9 100%)
  border-bottom: 1px solid rgba(0,0,0,.1)

#third
  border-top: 1px solid rgba(0,0,0,.1)

#first h1, h2, h3, h4, div, p
  font:
    weight: 300
    family: "Open Sans", sans-serif


h2
  font-size: 36px
  padding: 12px 0 18px
  margin: 0
  text-align: center

h3
  font-size: 18px
  padding: 8px 0 18px
  margin: 0


.advices.ui.list
  font-size: 16px


.one-page
  padding: 5rem 0


#first
  padding-top: 0


#header
  margin-bottom: 30px


#menu
  text-align: right

#menu .list>a.item > .content,
#header .logo
  line-height: 50px
  text-align: center
  font-size: 20px


#third .card
  & > .image
    padding: 20px 0
  & .image > img
    max-height: 80px
    width: auto


#third .card,
#fifth .container .advantage-wrapper > div
  margin-bottom: 18pt


#third .tabs > div[data-tab]
  height: 250px


.text-center
  text-align: center


.kapsula
  &-product
    &__wrapper
      //text-align: center
      width: 250px
      border: 1px solid rgba(#000, .1)
      padding: 10px
    &__price-button-group
      display: flex
      width: 100%
    &__price
      //display: block
      flex-grow: 1
      //font:
        size: 16px
        weight: 600
      &::after
         content: ' руб.'
    &__title
      font-size: 14px
      display: block
    &__buy-button
      flex-grow: 1


.header
  &--clone
    background-color: rgba(240,240,240,.95)
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 1000
    transform: translateY(-100%)
    transition: all 300ms ease-in-out
  &--stick
    transform: translateY(0%)


img.logo
  height: 44px
  width: auto
  margin: 0
  filter: grayscale(100%)
  transition: all 0.5s ease


img.logo:hover
  filter: grayscale(0)